nav {
  background-color: #ffffff;
  height: 80px;
  width: 100%;
}

nav ul {
  float: right;
  margin-right: 20px;
}

nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}

nav ul li a {
  color: black;
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 3px;
  transition: .5s;
}

ul a:hover {
  background: #52ab98
}

.checkbtn {
  font-size: 30px;
  color: black;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}

@media(max-width: 952px) {
  nav ul li a {
    font-size: 16px;
  }
}

@media(max-width:858px) {
  .checkbtn {
    display: block;
  }
  ul {
    position: fixed;
    width: 130px;
    height: 320px;
    background-color: #c8d8e4 ;
    top: 80px;
    right: 100%;
    text-align: center;
    transition: all .5s;
  } 
  nav ul li {
    display: block;
    margin: 50px 0;
    line-height: 3vh;
  }
  nav ul li a {
    color: #ffffff;
    font-size: 130%;
  }
  ul a:hover {
    background: none;
    color: #52ab98
  }
  
  #check:checked ~ ul {
    right: 0;
  }
}
