.technical-skills-container {
  background: #52ab98;
  height: 500px;
  padding: 30px;
}

.skills-top {
  min-width: 100px;
  background-color: #2b6777;
  opacity: 1;
  border-radius: 5%;
  border: 5px double white;
  padding: 15px;
  margin: 10px 20px;
  text-align: center;
  max-height: 150px;
  font-size: 150%;
  color: #ffffff;
}
@media (max-width:646px) {
  .skills-top{
    padding: 10px;
    margin: 10px 10px;
    font-size: 130%;
  }
}

@media (max-width: 359px) {
  .skills-top{
    overflow-y: scroll;
  }
  .skills-label{
    display: none;
  }
}
.lang-skills-container {
  margin: 0 auto;
  width: 90%;
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  grid-gap: 10px;
  height: 300px;
}

.each-skill {
  flex-direction: column;
  width: 100%;
}
.each-skill,
.circle {
  display: flex;
  align-items: center;
}

.circle {
  color: #ffffff;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  background-color:#2b6777;
  box-shadow: 6px 10px 5px 0 rgba(0, 0, 0, .1);
  position: relative;
  z-index: 0;
  justify-content: center;
}

.circle > i {
  z-index: 1;
  position: relative;
  font-size: 40px;
}

.skills-label {
  text-align: center;
  font-weight: bold;
  color: #ffffff;
  margin-top: 7px;
  font-size: 18px;
 } 